.Nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	background-color: #083D77;
	
}

.Nav a {
	color: #F4D35E;
	text-decoration: none;

}

.Sub1 {
	width: 30%;
	/* background-color: #000; */
}

.Sub1 a img {
	width: 140px;
	height: 130px;
	/* background-color: #000; */
}

.Sub2 {
	display: flex;
	justify-content: space-between;
	width: 40%;
	/* background-color: #fff; */
	font-size: 24px;
}

.Sub3 {
	display: flex;
	justify-content: center;
	width: 30%;
	/* background-color: red; */
	font-size: 24px;
}


@media only screen and (max-width: 800px) {
	.Nav {
		flex-direction: column;
		height: auto;
	}

	.Sub1 {
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}

	.Sub1 a img {
		width: 100px;
		height: auto;
	}

	.Sub2 {
		width: 100%;
		padding: 20px 0;
		flex-direction: column;
		align-items: center;
		margin-top: -60px;
	}

	.Sub3 {
		width: 100%;
		padding: 20px 0;
		text-align: center;
		margin-top: -40px;
	}
}