@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.Textarea textarea {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 425px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  height: 190px;
  border: none;
  resize: none;

  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.Textarea textarea:focus {
  outline: none;
  border: none;
}


@media screen and (max-width: 800px){
  .Textarea textarea {
    width: 299px;
    height: 123px;
    font-size: 14px;
  }

}