@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.viewRequest-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0957ac;

  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 400;
}

.viewRequest-sub1 {
	display: flex;
	width: 30%;
	flex-direction: column;
	color: #fff;
	/* background-color: #000; */
}

.viewRequest-sub1 h1 {
	font-size: 60px;
	margin-bottom: 0px;
	color: #F4D35E;
}

.viewRequest-sub1 p {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.viewRequest-sub1 p span {
	color: #F4D35E;
}

#description {
	color: #F4D35E;

}

.viewRequest-buttons {
	display: flex;
	width: 350px;
	margin-top: 10px;
	/* background-color: #000; */
	justify-content: space-between;
}

@media screen and (max-width: 800px) {
	.viewRequest-sub1 {
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;

		margin-left: 0px;
		margin-top: 0px;
	}

	.viewRequest-sub1 h1 {
		font-size: 60px;
		color: #F4D35E;
		margin: 0px;
		margin-bottom: 20px;
	}

	.viewRequest-sub1 p {
		font-size: 25px;
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.viewRequest-sub1 p span {
		color: #F4D35E;
	}

	.viewRequest-buttons {
		display: flex;
		width: 350px;
		margin-top: 10px;
		/* background-color: #000; */
		justify-content: space-between;
	}
}