@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.yourRequests-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0957ac;

  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
}

.yourRequests-sub1 {
	display: flex;
	width: 80%;
	height: auto;
	justify-content: flex-start;
	align-items: center;
	/* background-color: #000; */
	margin-left: 150px;
	margin-top: 50px;
  }
  
  .yourRequests-sub1 h1 {
	  font-size: 60px;
	  color: #F4D35E;
	  margin: 0px;
  }

.yourRequests-sub2 {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  /* background-color: #000; */
  margin-left: 150px;
  margin-top: 50px;
}

.yourRequests-carousel {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}
